@import 'bootstrap/dist/css/bootstrap.min.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --custom-primary: #02466d;
    --custom-secondary: #e8e8e8;
    --custom-accent: #7d0225;
    --custom-light: #fcfbfb;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif !important;
    max-height: 100% !important;
    box-sizing: border-box;
    overflow-y: hidden;
    color: var(--custom-secondary);
    background: var(--custom-primary) !important;
}

.content-wrapper{
    padding: 1rem;
}

.kanban-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 5px;
    overflow: visible;
    min-height: min-content;
}

.kanban-add-column {
    display: flex;
    color: var(--custom-secondary);
    border-radius: 5px;
    border: var(--custom-secondary) 0.15rem dashed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kanban-add-column:hover {
    cursor: pointer;
}

.cards-container {
    padding: 1rem;
    flex-grow: 1;
}

.kanban-column-header {
    border-radius: 1rem 1rem 0 0;
    padding: 1rem;
}

.kanban-column-header * {
    margin: 0;
}

.kanban-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.kanban-card {
    background: var(--custom-light);
    margin: 10px 0;
    border-radius: 10px;
    padding: 15px;
    width: 100%;
    transition: all 0.3s ease;
}

.column-option-container {
    font-size: 20px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.4s ease, visibility 0s 0.4s;
}

.column-option-container:hover {
    opacity: 0;
    transition: opacity 0.4s, visibility 0.4s;
}

.kanban-column:hover .column-option-container {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.4s ease;
}

.form-control-color {
    padding: 0.25rem 0.5rem !important;
}

.dropdown-menu {
    display: none;
    position: absolute;
    z-index: 1000;
}

.dropdown-menu.show {
    display: block;
}

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loader-icon {
    font-size: 5rem;
    color: var(--custom-accent);
    z-index: 10000;
}
.kanban-dashboard-container{
    background: var(--custom-secondary);
    border-radius: 0.5rem;
    padding: 2rem 2rem;
    max-height: 50rem;
}
.kanban-user-container{
    background: var(--custom-secondary);
    border-radius: 0.5rem;
    padding: 2rem 2rem;
}

.nav-link.active .custom-nav-icon {
    transform: 2rem;
    color: var(--custom-accent);
}

.custom-navbar {
    background: var(--custom-secondary);
    padding: 0.2rem;
    border-radius: 1rem;
    max-width: 20rem;
    margin: 0.5rem 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 1.5rem;
}

li {
    display: flex;
    align-items: center;
}

.nav-link {
    color: var(--custom-primary);
    transition: transform 0.2s, color 0.2s;
}

.nav-link:hover {
    color: var(--custom-accent);
    transform: scale(1.1);
}
.custom-nav-icon{
    font-size:1.8rem;
}

.custom-sub-nav-icon{
    font-size:1.3rem;
}