@tailwind base;
@tailwind components;
@tailwind utilities;
@import '~bootstrap/dist/css/bootstrap.min.css';

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif !important;
}
.kanban-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
    background: #000000;
    border-radius: 5px;
    overflow: hidden;
  }
.kanban-column-header{
    border-radius: 1rem 1rem 0 0;
    padding: 1rem;
}
.kanban-column-header * {
    margin: 0;
}
.kanban-container {
    display: flex;
    flex-wrap: nowrap;
}
.kanban-card {
    color:black;
    background: white;
    margin: 10px 0;
    border-radius: 10px;
    padding: 15px;
    width: 100%;
    transition: all 0.3s ease;
}